.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-grow: 0;
}

.flex-shrink-1 {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}

.flex-flow {
  flex-flow: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
