.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  .navbar-brand {
    color: $gray-300;
    display:inline-block;
    line-height: 2;
    margin-right: 1rem;
    .navbar-logo {
      background-image: url('../images/logo_moon.png');
      background-size: contain;
      background-repeat: no-repeat;
      display:inline-block;
      height: 30px;
      width: 30px;
      vertical-align: top;
    }
  }
  .navbar-nav {
    display: flex;
    list-style-type: none;
    line-height: 2;
    a {
      padding: 0 0.5rem;
      color: $gray-300;
      &:hover {
        color: $gray-600;
      }
    }
  }
}
